
<app-navbar></app-navbar>
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col s12 ">
            <div style="display: flex; align-items: center; gap: 30px;" class="offset-s2" >
                <div>
                    <label for="" style="font-size: 16px;">Tu ID de cliente:</label>
                    <input  type="text" [(ngModel)]="ID_cliente"> 
                </div>
                <div>
                    <label for="">Término de búsqueda:</label>
                    <input  type="text" [(ngModel)]="busqueda"> 
                </div>
                <div>
                    <select [(ngModel)]="criterio"  >
                        <option value="" disabled >Buscar por:</option>
                        <option value="TODOS" selected>TODOS</option>
                        <option value="ID">ID</option>
                        <option value="MARCA">MARCA</option>
                        <option value="MODELO">MODELO</option>
                        <option value="TIPO_PANEL">TIPO DE PANEL</option>
                    </select>
                    <div>
                        <button class="btn" (click)="buscar()">Buscar</button>
                    </div> 
                </div>
            </div>
            <table>                
                <thead>
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Tipo de Panel</th>
                    <th>Frecuencia</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Precio</th>                    
                </thead>
                
 <!--                         <div>
                            <button class="btn" (click)="getMonitores()">Mostrar Todos</button>
                        </div> -->
                <tbody>

                    <tr *ngFor="let monitor of monitoresservice.monitores">
                        <td> {{monitor._id}} </td>
                        <td> {{monitor.marca}} </td>
                        <td> {{monitor.modelo}} </td>
                        <td> {{monitor.tipo_panel}} </td>
                        <td> {{monitor.frecuencia}} </td>
                        <td> {{monitor.descripcion}} </td>
                        <td> {{monitor.cantidad}} </td>
                        <td> {{monitor.precio}} </td>
                        <td>
                            <input
                              type="text"
                              [(ngModel)]="monitorInputs[monitor._id].cantidad"
                              placeholder="Cantidad"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              [(ngModel)]="monitorInputs[monitor._id].direccion"
                              placeholder="Dirección"
                            />
                          </td>
                          <td>
                            <a (click)="addPedido(monitor)" class="btn">
                                <i class="material-icons">shopping_bag</i>
                            </a>
                            <!-- <a (click)="editMonitor(monitor)" class="btn">
                                <i class="material-icons">edit</i>
                            </a>
                           
                            <a (click)="deleteMonitor(monitor._id)" class="btn">
                                <i class="material-icons">delete</i>
                            </a> -->
                            
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>