<nav>
    <div class="nav-wrapper blue darken-4"> 
      <a href="#" class="brand-logo">Monitores</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- Enlaces combinados -->
        <li><a routerLink="/usuario/insertar">Gestion de Usuario</a></li>
        <li><a routerLink="/administracion/monitores">Insertar Monitores</a></li>
        <li><a routerLink="/administracion/usuarios">Consultar Usuarios</a></li>
        <li><a routerLink="/cliente/monitores">Comprar</a></li>
        <li><a routerLink="/cliente/pedidos">Pedidos</a></li>
      </ul>
    </div>
</nav>